{% extends 'base.html' %}

{% block content %}

{% include "_modal.html" %}

<div class="container mt-5">
  <div class="row">

    <div class="row">
      <div class="col-12 mb-3">
        <button class="create-user btn btn-warning shadow px-4 mb-2 rounded text-white" type="button"
          name="button">ADD</button>
      </div>
      <div class="col-12 mb-3">
        {% if employees %}
        <table class="table table-bordered shadow p-3 mb-5 bg-white rounded">
          <thead>
            <tr>
              <th class="text-center" scope="col">Names</th>
              <th class="text-center" scope="col">Works</th>
              <th class="text-center" scope="col">Salaries</th>
              <th class="text-center" scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for employee in employees %}
            <tr>
              <td class="text-center">{{ employee.name }}</td>
              <td class="text-center">{{ employee.work }}</td>
              <td class="text-center">{{ employee.salary }}</td>
              <td class="text-center">
                <button type="button" class="delete-user btn btn-sm btn-danger"
                  data-id="{% url 'delete_entry' employee.pk %}">
                  <span class="fa fa-trash"></span>
                </button>
                <button type="button" class="update-user btn btn-sm btn-primary"
                  data-id="{% url 'update_entry' employee.pk %}">
                  <span class="fa fa-pencil"></span>
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p class="no-entry text-primary">No entry added yet.</p>
        {% endif %}
      </div>
    </div>

  </div>
</div>
</div>

{% endblock content %}

{% block extrascripts %}
<script type="text/javascript">
  $(function () {
    // Create book button
    $(".create-user").modalForm({
      formURL: "{% url 'create_entry' %}"
    });

    // Update book buttons
    $(".update-user").each(function () {
      $(this).modalForm({
        formURL: $(this).data('id')
      });
    });

    // Delete book buttons
    $(".delete-user").each(function () {
      $(this).modalForm({
        formURL: $(this).data('id')
      });
    })
  });
</script>
{% endblock extrascripts %}